/* M2LO13 */
ul {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
/* M2LO14 */
/* M2LO12 */
/* M2LO3 Style Inheritance */
body{
    text-align: center;
    color: red;
    background-color: rgb(158, 195, 212);
    background-color: hsl(199, 38.6%, 72.5%);
}
h1 {
    color: black;

}
/* M2LO15 */
/* M2LO5 */
/* M2LO3  */
p {
    letter-spacing: 0.1em;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
}
footer{ 
    text-align: left;
    background-color: rgb(255, 226, 183);
}
/* M2LO11 */
/* M2LO3 Style Precedence */
article > p::first-letter{
    font-style: italic;
}
a:hover{
    color:blue;
}
/* M2LO5 */
h2 {
    color: black;
    text-indent: 5em;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* M2LO6 */
#top{
    text-align: center;
}
a[href]{
    /*M2LO15*/
    color: rgb(34, 50, 102);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}